@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Companyname</th>
                <th>ContactName</th>
                <th>ContactTitle</th>
                <th>Address</th>
                <th>City</th>
                <th>Region</th>
                <th>PostalCode</th>
                <th>Country</th>
                <th>Phone</th>
                <th>Fax</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.CompanyName</td>
                    <td>@customer.Name</td>
                    <td>@customer.Title</td>
                    <td>@customer.Address</td>
                    <td>@customer.City</td>
                    <td>@customer.Region</td>
                    <td>@customer.PC</td>
                    <td>@customer.Country</td>
                    <td>@customer.Phone</td>
                    <td>@customer.Fax</td>
                </tr>
            }
        </tbody>
    </table>
</div>
